# Appwrite Configuration
VITE_APPWRITE_WHATSAPP_COLLECTION_ID=whatsapp_accounts
VITE_APPWRITE_DATABASE_ID=your_database_id
VITE_APPWRITE_ENDPOINT=https://nyc.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=your_project_id

# EvolutionAPI Configuration
VITE_SERVER_URL=http://your-server-url/evolution
VITE_API_KEY=your_api_key
VITE_WEBHOOK_URL=http://your-webhook-url/webhook/whatsappsms
VITE_BOTACO_WEBHOOK_URL=http://n8n:5678/webhook/botaco

# Chatwoot Configuration (required for automatic Chatwoot integration)
VITE_CHATWOOT_ENABLED=true
VITE_CHATWOOT_URL=https://app.chatwoot.com
VITE_CHATWOOT_ACCOUNT_ID=your_chatwoot_account_id
VITE_CHATWOOT_TOKEN=your_chatwoot_api_token

# Webhook para configuración del asistente ACO
VITE_CONFIG_WEBHOOK_URL=https://n8m.agentedecargaonline.com/webhook/configBot
